# Terraform state
terraform.tfstate
terraform.tfstate.*
crash.log

# Terraform configuration files (Excluded as per request)
*.tf

# Terraform plan files
*.tfplan

# Terraform variable overrides
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# .terraform directory (Terraform working dir and plugins)
.terraform/
.terraform.lock.hcl

# Sensitive variable files
*.tfvars
*.pem
